
footer {
    background-color: $color-footer;
    color:$number;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    a {
        color: $number;
        text-decoration: none;
        margin-bottom: 15px;
        &:hover {
            color: $number;
        }
    }
    .title {
        font-size: 20px;
        padding: 10px;
        margin-left: 10px;
    }
    .options {
        @include flex-row;
        padding-left: 20px;


        .fa-solid {
            @include flex-row;
           
        }
        .fa-utensils {
            margin-right: 10px;
        }
        .fa-handshake-angle {
            margin-right: 4px;
        }
        
    }
   
}