.logo {
    position: relative;
    height: 60px;
    padding: 10px;

    .fa-arrow-left {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

    }
    
}

h1 {
    text-align: center;
    font-family: Shrikhand;
    font-size: 25px;
}