.loader {
    @include flex-center-center-center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $back-loader;
    margin: 0;
    z-index: 10000;
    animation: fadeout 3s linear forwards;
    @keyframes fadeout {

        0% {
            opacity: 1;
        }

        90% {
            opacity: 1;
        }

        99% {
            opacity: 0;
            transform: scale(1);
        }

        100% {
            opacity: 0;
            transform: scale(0);
            
        }

    }

    .circle {

        width: 300px;
        height: 300px;
        border: none;
        border-left: 10px solid $tertiaire;
        border-top: 10px solid $quaternaire;
        border-right: 10px solid $primaire;
        border-radius: 50%;
        animation: spin 0.5s linear infinite;

        @keyframes spin {
            0% {
                transform: rotateZ(0deg);
            }

            100% {
                transform: rotateZ(360deg);
            }
        }


    }

}