* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Roboto;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.logo-font {
  font-family: Shrikhand;
}

@media screen and (min-width: 1024px) {
  body .bouton {
    width: auto;
  }
  body .explication {
    margin: 50px 100px 50px 100px;
  }
  body .explication .title_fonctionnement {
    margin-top: 20px;
  }
  body .selection_table {
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
  }
  body .cards {
    margin: 0px;
    margin-bottom: 30px;
  }
  body .cards .resto {
    margin: 20px 100px 20px 100px;
  }
  body .cards .all_card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: calc(100% - 200px);
    margin: 0 100px;
    column-gap: 20px;
    row-gap: 20px;
  }
}
.hearts {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 30px;
  margin-right: 10px;
}
.hearts .fullheart {
  color: white;
  -moz-text-stroke-width: 1px;
  -moz-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  transition: opacity 0.25s ease-in-out;
  right: 0px;
  position: absolute;
}
.hearts .heart-2 {
  background: linear-gradient(0deg, rgb(255, 121, 218) 35%, rgb(147, 86, 220) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-stroke-width: 1px;
  -moz-text-stroke-color: #9356DC;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #9356DC;
  text-shadow: unset;
  color: transparent;
  opacity: 0;
}
.hearts .heart-2:hover {
  opacity: 1;
}

.logo {
  position: relative;
  height: 60px;
  padding: 10px;
}
.logo .fa-arrow-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

h1 {
  text-align: center;
  font-family: Shrikhand;
  font-size: 25px;
}

footer {
  background-color: #353535;
  color: white;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}
footer a {
  color: white;
  text-decoration: none;
  margin-bottom: 15px;
}
footer a:hover {
  color: white;
}
footer .title {
  font-size: 20px;
  padding: 10px;
  margin-left: 10px;
}
footer .options {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}
footer .options .fa-solid {
  display: flex;
  flex-direction: row;
}
footer .options .fa-utensils {
  margin-right: 10px;
}
footer .options .fa-handshake-angle {
  margin-right: 4px;
}

* {
  box-sizing: border-box;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  gap: 15px;
}

.description {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.description h2 {
  margin-top: 10px;
}
.description p {
  margin-top: 10px;
}

.bouton {
  background-color: #9356DC;
  border: none;
  color: white;
  margin-bottom: 10px;
  padding: 15px 15px 15px 15px;
  margin: 10px 10px 10px 10px;
  border-radius: 20px;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 40px;
  background: rgb(147, 86, 220);
  background: linear-gradient(0deg, rgb(147, 86, 220) 35%, rgb(255, 121, 218) 100%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.bouton:hover {
  opacity: 0.8;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6);
  transition: 0.5s;
}

.explication {
  margin: 10px;
}
.explication .selection_table {
  margin: 20px 0px 20px 0px;
}
.explication .selection_container {
  height: 72px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #F6F6F6;
  margin: auto;
  margin: 0px 10px 0px 10px;
}
.cards a {
  background-color: #F6F6F6;
  color: black;
  text-decoration: none;
  border-radius: 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.cards a .card {
  padding: 0px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
}
.cards a .card.new:after {
  position: absolute;
  width: auto;
  height: auto;
  right: 1rem;
  top: 1rem;
  display: block;
  content: "Nouveau";
  font-size: 18px;
  padding: 4px 6px;
  border-radius: 5px;
  background-color: #99E2D0;
  color: #008766;
}
.cards a .card img {
  width: 100%;
  height: 231px;
  object-fit: cover;
  position: relative;
}
.cards a .card .discovery {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 14px;
  border-radius: 5px;
  background-color: #99E2D0;
  color: #008766;
  width: 80px;
  height: 29px;
  top: 1rem;
  right: 1rem;
}
.cards a .card .nomduresto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 0px 0px 15px;
}
.cards a .card .nomduresto .description {
  display: flex;
  align-items: flex-start;
  text-align: left;
  margin: 10px 0px 10px 0px;
}
.cards a .card .nomduresto p {
  margin: 0px;
  font-size: 18px;
}

.selection_table {
  display: flex;
  flex-direction: column;
  margin: 0px 20px 50px 20px;
  gap: 20px;
}
.selection_row {
  background-color: #F6F6F6;
  font-size: 16px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.selection_row .selection_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 20px;
  transform: translateX(-12px);
}
.selection_row .selection_container .fa-solid {
  color: #7E7E7E;
}
.selection_row .selection_container .fa-solid:hover {
  color: #9356DC;
}
.selection_row .selection_container .number {
  background-color: #9356DC;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

* {
  box-sizing: border-box;
  border: solid red 1px;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 231px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: -50px;
  padding: 25px;
}
.menu .nomduresto2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
.menu .nomduresto2 .big_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Shrikhand;
}
.menu .hearts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 25px;
}
.menu .entrees {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}
.menu .entrees .title {
  font-family: Roboto;
  font-size: 16px;
}
.menu .entrees .title::after {
  content: "";
  display: block;
  width: 40px;
  border-bottom: solid 3px #99E2D0;
}
.menu .entrees .menu_plat {
  position: relative;
  width: 100%;
  height: 72px;
  margin: 20px 0 20px 0;
  padding-left: 10px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.menu .entrees .menu_plat:hover > .menu_plat_text {
  width: calc(100% - 65px);
}
.menu .entrees .menu_plat_text {
  display: inline-flex;
  align-items: space-between;
  padding: 5px;
  width: 100%;
  height: 100%;
  transition: width 0.25s ease-in-out;
}
.menu .entrees .menu_plat_text .menu_plat_description {
  width: 100%;
}
.menu .entrees .menu_plat_text .menu_plat_description * {
  height: 50%;
}
.menu .entrees .menu_plat_text .menu_plat_description > p {
  display: flex;
  align-items: flex-end;
}
.menu .entrees .menu_plat_text .menu_plat_prix {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: bold;
  width: 60px;
  height: 100%;
}
.menu .entrees .menu_checkbox {
  position: absolute;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 69px;
  height: 100%;
  background-color: #99E2D0;
  overflow: hidden;
  /*& .fa-circle-check {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: red;
  } */
}
.menu .commander_bouton {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
