* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Roboto;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.logo-font {
  font-family: Shrikhand;
}

.hearts {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 30px;
  margin-right: 10px;
}
.hearts .fullheart {
  color: white;
  -moz-text-stroke-width: 1px;
  -moz-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  transition: opacity 0.25s ease-in-out;
  right: 0px;
  position: absolute;
}
.hearts .heart-2 {
  background: linear-gradient(0deg, rgb(255, 121, 218) 35%, rgb(147, 86, 220) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-stroke-width: 1px;
  -moz-text-stroke-color: #9356DC;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #9356DC;
  text-shadow: unset;
  color: transparent;
  opacity: 0;
}
.hearts .heart-2:hover {
  opacity: 1;
}

.logo {
  font-size: 25px;
  padding: 0px;
  margin: 10px;
  text-align: center;
  max-width: auto;
}

footer {
  background-color: #353535;
  color: white;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}
footer a {
  color: white;
  text-decoration: none;
  margin-bottom: 15px;
}
footer a:hover {
  color: white;
}
footer .title {
  font-size: 20px;
  padding: 10px;
  margin-left: 10px;
}
footer .options {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}
footer .options .fa-solid {
  display: flex;
  flex-direction: row;
}
footer .options .fa-utensils {
  margin-right: 10px;
}
footer .options .fa-handshake-angle {
  margin-right: 4px;
}

* {
  box-sizing: border-box;
  border: solid red 1px;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  gap: 15px;
}

.description {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.bouton {
  background-color: #9356DC;
  color: white;
  margin-bottom: 10px;
  padding: 15px 15px 15px 15px;
  margin: 10px 10px 10px 10px;
  border-radius: 20px;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 40px;
  background: rgb(147, 86, 220);
  background: linear-gradient(0deg, rgb(147, 86, 220) 35%, rgb(255, 121, 218) 100%);
  box-shadow: 0px 5px 0px 0px #000000;
}

.explication {
  margin: 10px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #F6F6F6;
  margin: auto;
}
.cards .resto {
  margin-left: 40px;
}
.cards a {
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 32px;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
  overflow: hidden;
}
.cards a .card {
  padding: 0px;
  border-radius: 15px;
  box-shadow: 0px 5px 0px 0px #000000;
  overflow: hidden;
  position: relative;
}
.cards a .card .new::after {
  display: block;
  content: "nouveau";
  width: auto;
  height: auto;
  position: absolute;
  right: 10px;
  top: 10px;
}
.cards a .card img {
  width: 100%;
  height: 231px;
  object-fit: cover;
  position: relative;
}
.cards a .card .discovery {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 14px;
  border-radius: 5px;
  background-color: #99E2D0;
  color: #008766;
  width: 80px;
  height: 29px;
  top: 10%;
  left: 70%;
}
.cards a .card .nomduresto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 0px 0px 15px;
}
.cards a .card .nomduresto .description {
  display: flex;
  align-items: flex-start;
  text-align: left;
  margin: 0px 0px 10px 0px;
  line-height: 6px;
}
.cards a .card .nomduresto p {
  margin: 0px;
  font-size: 18px;
}

.selection_table {
  display: flex;
  flex-direction: column;
  margin: 0px 20px 50px 20px;
  gap: 20px;
}
.selection_row {
  background-color: #F6F6F6;
  font-size: 16px;
  border-radius: 20px;
  box-shadow: 0px 5px 0px 0px #000000;
}
.selection_row .selection_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 20px;
  transform: translateX(-12px);
}
.selection_row .selection_container .fa-solid {
  color: #7E7E7E;
}
.selection_row .selection_container .fa-solid:hover {
  color: #9356DC;
}
.selection_row .selection_container .number {
  background-color: #9356DC;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

* {
  box-sizing: border-box;
  border: solid red 1px;
}

h1 {
  font-family: Shrikhand;
}

img {
  width: 100%;
  height: 231px;
  object-fit: cover;
  position: relative;
}

.menu {
  background-color: #F6F6F6;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: -50px;
}
.menu .title {
  font-family: Roboto;
  font-size: 16px;
  border-bottom: solid 3px #99E2D0;
  width: 40px;
  height: 30px;
}

/*
.hearts {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 30px;
    margin-right: 10px;

    .fullheart {
        transition: opacity 0.25s ease-in-out;
        right: 0px;
        position: absolute;
    }

    .heart-2 {

        color: #9356DC;
        //background: rgb(255,121,218);
        //background: linear-gradient(0deg, rgba(255,121,218,1) 35%, rgba(147,86,220,1) 100%);
        opacity: 0;

        &:hover {
            opacity: 1;
        }
    }
}
*/

/*# sourceMappingURL=style.css.map */
