* {
    box-sizing: border-box;
    //border: solid red 1px;
    
}

.location {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
    background-color: #EAEAEA;
    gap: 15px;    
    
}

.description {
    background-color: $bs-color;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    & h2 {
        margin-top: 10px;
    }

    & p {
        margin-top: 10px;
    }
    

    
}


.bouton {


    background-color: $primaire;
    border: none;
    color: white;
    margin-bottom: 10px;
    padding: 15px 15px 15px 15px;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    width: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    background: rgb(147,86,220);
    background: linear-gradient(0deg, rgba(147,86,220,1) 35%, rgba(255,121,218,1) 100%);
    @include shadow-box;
    transition: 0.5s;
    &:hover {
        opacity: 0.8;
        box-shadow: 0 8px 15px rgb(0, 0, 0, 0.6);
    
    }

}

.explication {
    margin: 10px;


    .selection_table {
        margin: 20px auto;
        padding: 0 10px;
    }

    .selection_container {
        height: 72px;
    }
}

.cards {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: $bs-color;
    margin: auto;
    margin: 0px 10px 0px 10px;

    .resto {
        margin: 20px 0 20px 0;
    }


    
    a {
        background-color: #F6F6F6;
        color: black;
        text-decoration: none;
        border-radius: 1rem;
        @include shadow-box;
        overflow: hidden;

        & .card{
            padding: 0px;
            @include shadow-box;
            overflow: hidden;
            position: relative;
            

            &.new:after {
                position: absolute;
                width: auto;
                height: auto;
                right: 1rem;
                top: 1rem;

                display: block;
                content: "Nouveau";
                font-size: 18px;
                padding: 4px 6px;

                border-radius: 5px;
                background-color:#99E2D0;
                color: #008766;
            }

            & img {
                width: 100%;
                height: 231px;
                object-fit: cover;
                position: relative;
            }

            & .discovery {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                font-size: 14px;
                border-radius: 5px;
                background-color:#99E2D0;
                color: #008766;
                width: 80px;
                height: 29px;
                top: 1rem;
                right: 1rem;
            }

            & .nomduresto {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0px 0px 0px 15px;
                //line-height: 8px;

                .description{
                    display: flex;
                    align-items: flex-start;
                    text-align: left;
                    margin : 10px 0px 10px 0px;
                    //line-height: 6px;
                    
                }
        
                p {
                    margin: 0px;
                    font-size: 18px;
                }
            }
    
        }
    }
}

.selection {
    &_table {
        display: flex;
        flex-direction: column;
        margin : 0px 20px 50px 20px;
        gap: 20px;
        
    } 
    
    
    
    
    &_row {

        background-color: #F6F6F6;
        //position: relative;
        font-size: 16px;
        border-radius: 20px;
        @include shadow-box;
        
        & .selection_container {
            
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;
            //position: absolute;
            gap: 20px;
            transform: translateX(-12px);
            //left: -10px;
            
            .fa-solid {
                color: #7E7E7E;
                // left: 60px;
                
            }
            
            .fa-solid:hover{
                color: #9356DC;
            }
            .number {
        
                background-color: #9356DC;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                 
            }
    
        }
        
        
        

        
    }
    
}
    



