* {
    box-sizing: border-box;
    border: solid red 1px;
    
}

.location {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
    background-color: #EAEAEA;
    gap: 15px;    
    
}

.description {
    background-color: $bs-color;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}


.bouton {

    background-color: $primaire;
    color: white;
    margin-bottom: 10px;
    padding: 15px 15px 15px 15px;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 40px;
    background: rgb(147,86,220);
    background: linear-gradient(0deg, rgba(147,86,220,1) 35%, rgba(255,121,218,1) 100%);
    box-shadow: 0px 5px 0px 0px #000000;

   
}

.explication {
    margin: 10px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: $bs-color;
    margin: auto;
    
    a {
        background-color: white;
        color: black;
        text-decoration: none;
        border-radius: 32px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2);
        overflow: hidden;

        .card{
            padding: 0px;

            .new::after {
                display: block;
                content: "nouveau";
                width: auto;
                height: auto;
                position: absolute;
                right: 10px;
                top: 10px;
                
            }

            img {
                width: 100%;
                height: 231px;
                object-fit: cover;
                position: relative;

            }
        
            
            
            
            .nomduresto {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0px 0px 0px 15px;
                line-height: 8px;

                .description{
                    display: flex;
                    justify-content: left;
                    align-items: left;
                }
                
                .hearts {
                    display: flex;
                    align-items: center;
                    position: relative;
                    font-size: 30px;
                    margin-right: 10px;
                    
                    .fullheart {
                        transition: opacity 0.25s ease-in-out;
                        right: 0px;
                        position: absolute;
                    }

                    .heart-2 {

                        color: #9356DC;
                        opacity: 0;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
        
                p {
                    margin: 0px;
                    font-size: 18px;
                }
            }
    
        }
    }
}

.selection {
    &_table {
        display: flex;
        flex-direction: column;
        margin : 0px 20px 50px 20px;
        gap: 20px;
        
    } 
    
    
    
    
    &_row {

        background-color: #F6F6F6;
        //position: relative;
        font-size: 16px;
        border-radius: 20px;
        box-shadow: 0px 5px 0px 0px #000000;
        
        & .selection_container {
            
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;
            //position: absolute;
            gap: 20px;
            transform: translateX(-12px);
            //left: -10px;
            
            .fa-solid {
                color: #7E7E7E;
                // left: 60px;
                
            }
            
            .fa-solid:hover{
                color: #9356DC;
            }
            .number {
        
                background-color: #9356DC;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                //position: absolute;
                //left: 24px;
                 
            }
    
        }
        
        
        

        
    }
    
}
    



