
.hearts {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 30px;
    margin-right: 40px;
    
    .fullheart {
        color: white;
        -moz-text-stroke-width: 1px;
        -moz-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
                                
        transition: opacity 0.25s ease-in-out;
        //right: -80px;
        //background: rgb(255,121,218);
        position: absolute;

    }

    .heart-2 {
        background: linear-gradient(0deg, rgba(255,121,218,1) 35%, rgba(147,86,220,1) 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -moz-text-stroke-width: 1px;
        -moz-text-stroke-color: #9356DC;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #9356DC;

        text-shadow: unset;
        color: transparent;
        //color: #9356DC;
        opacity: 0;

        &:hover {
            opacity: 1;
        }
    }

    
}

.bouton {

    background-color: $primaire;
    border: none;
    color: white;
    margin-bottom: 10px;
    padding: 15px 15px 15px 15px;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    width: auto;
    min-width: 185px;
    margin-top: 20px;
    margin-bottom: 40px;
    background: rgb(147,86,220);
    background: linear-gradient(0deg, rgba(147,86,220,1) 35%, rgba(255,121,218,1) 100%);
    @include shadow-box;
    transition: 0.5s;
    &:hover {
        opacity: 0.8;
        box-shadow: 0 8px 15px rgb(0, 0, 0, 0.6);

    }

}