@media  screen and (min-width: 1024px) {

  body {

    .bouton {
        width: auto;
    }

    .explication {
        display: block;
        justify-content: center;
        margin: 50px 0;
        padding: 0 100px;
        width: 100%;
        

        .title_fonctionnement {
            margin-top: 20px;
        }
    }

    .selection_table {
        flex-direction: row;
        justify-content: space-between;
        font-weight: bold;
        max-width: 850px;
        margin: 20px 10px;
    
    }

    .selection_container {

       font-size: 12px;
       padding-right: 50px;
        
    }

    .cards {
        margin: 0px;
        margin-bottom: 30px;
        
        .resto {
            margin: 20px 100px 20px 100px;
        }
        
        .all_card {
            
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            width: calc(100% - 200px);
            margin: 0 100px;
            column-gap: 20px;
            row-gap: 20px;
        }

    }

    .menu {
        //align-items: center;
        max-width: 1000px;
        width: 100%;
        margin: -50px auto;

        .nomduresto2 {

            
        }
    }

    .entrees {
        
        margin-left: 100px;
        margin-right: 100px;
    }
    
  }
  
  footer {

      .all_footer {
          display: flex;
          flex-direction: row;
          justify-content: end;
          margin-top: 50px;
          margin-right: 50px;
          font-size: 12px;

          .title {
              order: 1;
              font-size: 14px;
              margin-left: 100px;
          }

            .options {
            display: flex;
            text-align: center;
            align-items: center;
            
            & a {
                margin-top: 14px;
            }
          }

        .mention_contact {

            display: flex;
            flex-direction: row;
            margin-left: 40px;
        }
    }

    .title {

        display: flex;
        justify-content: end;
    }



  }
    
}