@mixin shadow-box {
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.5);
}


@mixin flex-center-justify-center {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-center-center {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-flex-end {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin flex-row-center-justify-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

@mixin flex-row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin flex-column-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flex-column-center-center {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

@mixin flex-column-align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-flex-start-left {
    display: flex;
    align-items: flex-start;
    text-align: left;
}

@mixin inline-flex-flex-start {
    display: inline-flex;
    align-items: flex-start;
}

@mixin inline-flex-row-center-center {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@mixin animation-settings {
    animation-name: fadein;
    animation-duration: 1.5s;
}

@mixin animation-settings-both {
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}