$primaire:#9356DC;
$secondaire:#FF79DA;
$tertiaire:#99E2D0;
$bs-color: #F6F6F6;
$quaternaire: #89C8FA;
$nouveau: #008766;
$color-card: #7E7E7E;
$number: white;
$color-footer: #353535;
$back-loader: #FFF8;